[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# G.FUNCS.evaluate_round()
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = "add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)})"
position = 'at'
match_indent = true
payload = '''
local skyrocket_mult = SMODS.D6_Side and (#SMODS.D6_Side.get_die_info("count", "pure_skyrocket_side") > 0 and 3) or 1
add_round_eval_row({bonus = true, name='interest', pitch = pitch, dollars = G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)*skyrocket_mult})
'''

# G.FUNCS.evaluate_round()
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = "dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)"
position = 'at'
match_indent = true
payload = '''
dollars = dollars + G.GAME.interest_amount*math.min(math.floor(G.GAME.dollars/5), G.GAME.interest_cap/5)*skyrocket_mult
'''